<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/submit" method='POST'>
    <br><label for = "username">username</label>
    <br><input type="text" id="username" name="username">
    <br><label for = "f_name">f name</label>
    <br><input type="text" id="f_name" name="f_name">
    <br><label for = "l_name">l_name</label>
    <br><input type="text" id="l_name" name="l_name">
    <br><label for = "email">email</label>
    <br><input type="text" id="email" name="email">
    <br><label for = "contact">phone_number (923xxxxxxx)</label>
    <br><input type="text" id="contact" name="contact">
    <input type="submit" value="Submit">
  </form>
</body>
</html>
