<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="open_bracnh">
      <h1>Sign-up</h1>
      <form action="/open_branch" method='POST'>
        <br><label for = "branch_code">branch code</label>
        <br><input type="text" id="branch_code" name="branch_code">
        <br><label for = "city">City</label>
        <br><input type="text" id="city" name="city">
        <input type="submit" value="Submit">
    </form>
  </div>
</body>
</html>