<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
    <form action="/submit1" method='POST'>
        <br><label for = "catogary">catogary</label>
        <br><input type="text" id="catogary" name="catogary">
        <br><label for = "prod_id">prod_id</label>
        <br><input type="text" id="prod_id" name="prod_id">
        <br><label for = "price">price</label>
        <br><input type="text" id="price" name="price">
        <br><label for = "pro_type">pro_type</label>
        <br><input type="text" id="pro_type" name="pro_type">
        <br><label for = "pro_location">Location</label>
        <br><input type="text" id="pro_location" name="pro_location">
        <br><label for = "address">Address</label>
        <br><input type="text" id="address" name="address">
        <br><label for = "p_size">Size</label>
        <br><input type="p_size" id="p_size" name="p_size">
        <input type="submit" value="Submit">
</body>
</html>