<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="sign up">
      <h1>Sign-up</h1>
      <form action="/signup_hod" method='POST'>
        <br><label for = "f_name">F name</label>
        <br><input type="text" id="f_name" name="f_name">
        <br><label for = "l_name">L name</label>
        <br><input type="text" id="l_name" name="l_name">
        <br><label for = "user_id">user_id</label>
        <br><input type="text" id="user_id" name="user_id">
        <br><label for = "user_password">Password</label>
        <br><input type="text" id="user_password" name="user_password">
        <br><label for = "e_mail">e_mail</label>
        <br><input type="text" id="e_mail" name="e_mail">
        <br><label for = "phone_number">phone_number (923xxxxxxx)</label>
        <br><input type="text" id="phone_number" name="phone_number">
        <br><label for = "branch_code">branch_code</label>
        <br><input type="text" id="branch_code" name="branch_code">
        <input type="submit" value="Submit">
    </form>
    {% if msg %}
    <h4>{{msg}}</h4>
    {% endif %}
  </div>
</body>
</html>